.app {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px 10px 15px;

        .logo-div {
            .header-logo {
                height: 100px;
                width: 100px;
            }
        }

        .nav-bar {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;


            .nav-list {
                display: flex;
                flex-wrap: wrap;

                .nav-item {
                    font-size: 24px;
                    padding: 10px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                }
            }

            .login-btn {
                padding: 0 25px;
                cursor: pointer;
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        padding: 10px 15px 10px 15px;
    }


}